@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* a.active hr{
    display: block;
} */

a.active p{
    color: #FBC108;
}

.PhoneInputInput:focus{
    outline: none;
}